<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.evature.cordova.voicekit" version="1.0.0">
    <name>VoiceKit</name>
    <description>Evature VoiceKit Plugin</description>
    <license>Apache 2.0</license>
    <author>Evature LTD</author>
    <keywords>Evature,voicekit,travel,chat</keywords>
    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>
    
    <dependency id="com.manueldeveloper.speech-recognizer" url="https://github.com/manueldeveloper/cordova-plugin-speech-recognizer.git" commit="3a78b72c3f3063bda2389e5c866fb26097a9d07c"  />
    <dependency id="cordova-plugin-device" url="https://github.com/apache/cordova-plugin-device.git" commit="8846ac877b2c2c05e2bad4f99ecd113b64550d8d" />
    <dependency id="cordova-plugin-geolocation" url="https://github.com/apache/cordova-plugin-geolocation.git" commit="2134d2b89d386069a4844a13bf5807ed2416e518" />
    <dependency id="org.apache.cordova.speech.speechsynthesis" url="https://github.com/macdonst/SpeechSynthesisPlugin.git" commit="6006d06486300160621bd528eb2c550ac32aa2ca" />
    <dependency id="cordova-plugin-vibration" url="https://github.com/apache/cordova-plugin-vibration.git" commit="c5e7221e238ad2c78842ce973ba9c66be2dd16e1" />
    
    
    <asset src="www/img" target="img" />
    <asset src="www/css" target="css" />
    <asset src="www/js/zepto.js" target="js/zepto.js" />
    <asset src="www/js/eva-chat.js" target="js/eva-chat.js" />
    <js-module src="www/js/zepto.js" name="Zepto">
	    <clobbers target="eva.Zepto" />
	</js-module>
    <js-module src="www/js/eva-chat.js" name="eva">
        <clobbers target="eva" />
    </js-module>
</plugin>