<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.evature.cordova.voicekit" version="1.0.4">
    <name>VoiceKit</name>
    <description>Evature VoiceKit Plugin</description>
    <license>Apache 2.0</license>
    <author>Evature LTD</author>
    <keywords>Evature,voicekit,travel,chat</keywords>
    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <dependency id="cordova-plugin-speechrecognition" url="https://github.com/pbakondy/cordova-plugin-speechrecognition.git" commit="master"  />
    <dependency id="cordova-plugin-device" url="https://github.com/apache/cordova-plugin-device.git" commit="master" />
    <dependency id="cordova-plugin-geolocation" url="https://github.com/apache/cordova-plugin-geolocation.git" commit="master" />
    <dependency id="cordova-plugin-tts" url="https://github.com/vilic/cordova-plugin-tts" commit="master" />
    <dependency id="cordova-plugin-vibration" url="https://github.com/apache/cordova-plugin-vibration.git" commit="master" />


    <asset src="www/img" target="img" />
    <asset src="www/css" target="css" />
    <asset src="www/js/zepto.js" target="js/zepto.js" />
    <asset src="www/js/eva-chat.js" target="js/eva-chat.js" />
    <js-module src="www/js/zepto.js" name="Zepto">
	    <clobbers target="eva.Zepto" />
	</js-module>
    <js-module src="www/js/eva-chat.js" name="eva">
        <clobbers target="eva" />
    </js-module>
</plugin>
